
.footer-content{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.footer-contacts{
  padding: 0 15px;
  width: 50%;
  text-align: center;
}

.footer-image{
  width: 106px;
  height: 62px;
}

.text-bold{
  font-weight: 700;
  font-size: 15px;
  color: #434345;
}

.text-dark{

  color: #9b9b9b;
  font-weight: 400;
  font-size: 15px;
}
